body {
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.header {
	background-color: rgb(43, 41, 39);
	color: white;
	/*border-top: 5px solid rgb(247,120,37);*/
	border-top: 5px solid rgb(40, 138, 221);
}

.navbar-default .navbar-brand {
	color: #eee;
}

@media only screen and (min-width: 768px) {
	.navbar-right {
		float: right!important;
		margin-right: 0px;
	}
}